.contianer {
  padding-top: 10px;
  height: 100%;
}

.row_marker {
  display: flex;
  padding: 15px 0 0 10px;
  gap: 20px;
}

.table_container {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.table_container div {
  flex-grow: 1;
}

.grid_column {
  display: grid;
  grid-template-columns: 1fr;
}

.space {
  margin-right: 20px;
}

.risk_rate {
  font-size: 1.65em;
  width: 80%;
  text-align: center;
  margin: 27px auto;
  display: flex;
  gap: 10px;
}

.risk_rate button {
  padding: 5px;
  border-radius: 8px;
  outline: none;
  border: none;
  box-shadow: 2px 1px 1px 2px rgb(221, 207, 207);
}

.gas_info {
  display: flex;
  align-items: center;
}

.head_gas_info {
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 1.1em;
}

.head_country {
  font-weight: bold;
  font-size: 1.1em;
}

.image_container {
  padding-top: 1em;
  width: 190px;
  height: 170px;
  margin: 10px 20%;
  position: absolute;
  top: 60px;
  animation: popAppear 2s ease-in-out;
}

@keyframes popAppear {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.image_map {
  width: 100%;
  height: 100%;
}

.chart_area {
  width: 80%;
  max-width: 600px;
  position: fixed;
  top: 20%;
  transform: translateX(20%);
  display: flex;
  flex-direction: column;
  background-color: rgba(11, 33, 73, 0.8);
}

.chart_area button {
  border: none;
  outline: none;
}

.cancle {
  color: #fff;
  font-size: 2.3em;
  font-weight: bold;
  background-color: rgb(11, 33, 73);
  padding-left: 15px;
  cursor: pointer;
}

.chart_info {
  width: 85%;
  max-width: 340px;
  margin: 2em auto;
}

.size_chart {
  width: 40%;
  font-size: 1em;
}

.notActive {
  display: none;
}

@media (max-width: 450px) {
  .chart_area {
    transform: translateX(12%);
  }
}
