/* stylelint-disable declaration-colon-newline-after */
.container {
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  padding: 20px 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  filter: brightness(0) invert(1);
}

.left img {
  animation: rotateMap 2s ease-in;
}

@keyframes rotateMap {
  from {
    transform: rotate(0deg) scale(0);
  }

  to {
    transform: rotate(360deg) scale(1);
  }
}

.split_section {
  display: flex;
  align-items: center;
  width: 100%;
}

.left,
.right {
  height: 180px;
  width: 50%;
}

.right p {
  font-size: 1.3em;
  font-weight: bold;
}

.right {
  padding-left: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_style {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
  max-width: 280px;
}

.form_style select,
.form_style button {
  padding: 4px;
  outline: none;
  width: 100%;
}

.form_style button {
  cursor: pointer;
}

.form_style select option:first-child {
  color: rgb(67, 105, 178);
}
