.padh4 {
  padding: 7px 0 15px 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item_grid {
  height: 100%;
  text-align: right;
  padding: 5px 5px 15px 7px;
  border: 2px solid rgb(26, 56, 114);
}

.nav {
  color: white;
  text-decoration: none;
}

.img_container {
  width: 120px;
}

.img_container img {
  width: 100%;
  height: 100%;
  filter: brightness(0);
}

.spinner {
  display: block;
  width: 40%;
  margin: 0 auto;
  border-color: red;
  border: 2px solid;
}

.field_name {
  font-size: 1.3em;
  font-weight: bold;
}
