@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  background-color: rgb(67, 105, 178);
  font-family: 'Lato', sans-serif;
  color: #fff;
}
